* {
  margin: 0px;
  padding:0px;  
}
body{

    font-family: 'Roboto Condensed', sans-serif;

}
h3{

    font-weight: 100;
    letter-spacing: 2px;

}

#firstContainer{

       /* position: fixed; */
       display: flex;
       /* top: 0; */
       margin-top: 40px;
       display: flex;
       justify-content: center;
       /* box-shadow: 1px 1px 3px 0px; */
       width: 100%;
       /* background-color: white;*/
    
}

#logo{
     
    padding-bottom: 7px;
    text-align: center;
    color: rgb(255, 255, 255);
    /* font-size: 24px; */
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1em;
    /* font-size: 24px; */
  

}

/* #hamRaper{

    width: 33px;
    height: 4px;
    margin: 3px;
    background-color: rgb(0, 0, 0);
   

} */

.hamburger{
    
    margin: 7px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    width: 39px;

}



a{

    /* padding: 10px;
    margin-right: 1em; */
    color: white;
    font-size: 25px;
    letter-spacing: .1em;
}



#maincontant{
   
    margin-right: 5.5em;
    margin-left: 5.5em;
    width: -webkit-fill-available;

}

@media screen and (max-width:600px){
 
 .menue{

        display:none;
    }
    
}



header{

    box-sizing: border-box;
    width: 100%;
    margin-top: 200px;
    position: absolute;
    padding-left: 10px;
    PADDING-RIGHT: 10px;
    top: 0;
    z-index: 1;

}

#hlo{
    
    display: flex;
    flex-direction: column;
}

#intro{

    font-size: 29px;
}

#intro1{
     
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    color: rgb(106, 90, 205);
    padding: 13px;
    /* width: 213px; */
    text-align: center;
}

/* #line{
      
    border-left: 1px solid rgb(136, 127, 127);
    height: 87vh;
    display: block;
    margin-left: 9em;
    /* margin-top: 11px; 
    position: absolute;
    top: 0;
    margin-top: 58px;
    z-index: 0;

} */
span{
    color: white;
}



#line1{
    
    border-left: 1px solid rgb(136, 127, 127);
    height: 34vh;
    display: block;
    margin-left: 134px;
    position: absolute;
    margin-top: 2vh;
    z-index: -1;
}

#line2{
    
    border-bottom: 1px solid gray;
    /* border-left: 1px solid rgb(136, 127, 127); */
    width: 12vh;
    display: block;
    margin-left: 16em;
    position: absolute;
    margin-top: -46px;

}

#scrolld{
    
    width: auto;
    height: 48px;
    margin-top: 150px;
   
    
}

.imgContainer{

    height: 390px;
    background-color: #6a5acda1;
}

.projectbox{

    margin-bottom: 51px;
    
}

.cartmarg{

    margin-bottom: 53px;
    text-align: center;
}

.h2margin{
    
    padding: 33px;
    box-sizing: border-box;
    color: #000000d6;
    /* margin-bottom: 28px; */
    font-weight: 400;
    /* margin-top: 28px; */
    font-weight: bold;
    font-size: larger;
    letter-spacing: 1px;
    
}

.input1{
    
    font-weight: 100;
    margin-bottom: 8px;
    height: 25px;
    background-color: transparent;
    padding: .375rem .75rem;
    font-size: 1.2em;
    line-height: 1.5;
    color: #414bd6;
    background-color: #fff;
    background-image: none;
    border: transparent;
    /* border-radius: .25rem; */
    letter-spacing: 1px;
    border-bottom: 1px solid darkgrey;
    outline: #f50000;
}

label{
    
    font-size: 1em;
    text-transform: uppercase;
    color: #ccc;

}

textarea::placeholder {
    
    color:#82808e;

  }


  #formwraper{

    display: flex;
    justify-content: center;

  }