* {
  margin: 0px;
  padding:0px;  
}

#firstContainer{

    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 3px 0px;
    width: 100%;
    background-color: white;
   
    
}

#logo{

    padding: 10px;
    color: rgb(2, 2, 2);
    font-size: 24px;
    letter-spacing: .1em;

}

#hamRaper{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;

}

.hamburger{
    
 width: 33px;
 height: 1px;
 background-color: rgb(0, 0, 0);
 width: 27px;

}



a{

    padding: 10px;
    margin-right: 1em;
    color: white;
    font-size: 25px;
    letter-spacing: .1em;
}



#maincontant{
   
    margin-right: 5.5em;
    margin-left: 5.5em;
    width: -webkit-fill-available;

}

@media screen and (max-width:600px){
 
 .menue{

        display:none;
    }
    
}



header{

    margin-top: 200px;
    position: absolute;
    padding-left: 10px;
    top: 0;

}

#hlo{

    flex-direction: column;
}

#intro{

    font-size: 29px;
}

#intro1{

    background-color: black;
    color: antiquewhite;
    padding: 13px;
    width: 213px;
    text-align: center;
}

/* #line{
      
    border-left: 1px solid rgb(136, 127, 127);
    height: 87vh;
    display: block;
    margin-left: 9em;
    /* margin-top: 11px; 
    position: absolute;
    top: 0;
    margin-top: 58px;
    z-index: 0;

} */
span{
    color: white;
}



#line1{
    
    border-left: 1px solid rgb(136, 127, 127);
    height: 34vh;
    display: block;
    margin-left: 134px;
    position: absolute;
    margin-top: 2vh;
    z-index: -1;
}

#line2{
    
    border-bottom: 1px solid gray;
    /* border-left: 1px solid rgb(136, 127, 127); */
    width: 12vh;
    display: block;
    margin-left: 16em;
    position: absolute;
    margin-top: -46px;

}

#scrolld{
    
    width: 100px;
    height: auto;
    margin-left: 85px;
    z-index: -1;
    
}

.imgContainer{

    height: 352px;
    background-color: gray;

}
.projectbox{

    margin-bottom: 51px;
    
}
