* {
  margin: 0px;
  padding:0px;  
}
body{

    font-family: 'Roboto Condensed', sans-serif;

}

.imgContainer1{
    background-image: url(lamon11.svg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center; 
}

.imgContainer2{
    background-image: url(ham.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center; 
    background-size: cover;
}

.imgContainer3{
    background-image: url(kk.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-size: 487px;
}


.aboutavtar.cartmarg {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-items: center;
}
a.resources {
    color: black;
    font-size: large;
    letter-spacing: 1px;
}



#firstContainer{

    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: 18px;
}
#by{font-size: medium;
    background: transparent;
    color: #ffff008a;
    padding: 0px;}

#firstdiv{
    background-position: center;
    height: 100vh;
    background-color: slateblue;
    background-image: url(image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

img.logo {
    width: 60px;
}

.menue:hover{
   
    color: #FFC107;
}

.navi{

    display: none;

}


.boxstyle {
    width: 70vw;
    height: 36vh;
   
    border: 1px solid #00000030;
}
.hack{
    list-style: none;
}


.navi1{

    
    box-sizing: border-box;
    display: flex;
    background-color: #101010;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    /* top: 66px; */
    justify-content: center;
    z-index: 2;
    

}



.hamhide{

    display:none;

}

.ham1{
    
    transform: rotate(45deg);
    margin: -1px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    width: 39px;
    z-index: 1;
}

.ham2{

    transform: rotate(135deg);
    margin: -1px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    width: 39px;
    z-index: 1;
}

.haha{

    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    background-color: #00000054;
    border-radius: 69%;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
}

.hamRaper1{
    
        
    
        display: flex;
        flex-direction: column;
    }



#logo{
     
    padding-bottom: 7px;
    text-align: center;
    color: rgb(255, 255, 255);
    /* font-size: 24px; */
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1em;
    /* font-size: 24px; */
  

}



.hamburger{
    
    margin: 4px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    width: 39px;
    z-index: 1;
  
}



a{

   
    color: white;
    font-size: 55px;
    letter-spacing: .1em;
    padding: 13px;
}



#maincontant{
   
    margin-right: 5.5em;
    margin-left: 5.5em;
    width: -webkit-fill-available;

}

@media screen and (max-width:600px){
 
 .menue{

        display:none;
    }
   
    
}
@media screen and (min-width:600px){
 
    
       .haha{
           display: none;
       }
       

   }



header{

    box-sizing: border-box;
    width: 100%;
    margin-top: 200px;
    position: absolute;
    padding-left: 10px;
    PADDING-RIGHT: 10px;
    top: 0;
    z-index: 1;


    }

#hlo{
    
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;

   
}

#intro{

    font-size: 29px;
    background-color: yellow;
    color: rgb(0, 0, 255);
}



#intro1{
     
    font-family: 'Roboto Condensed', sans-serif;
    border:1px solid rgb(106, 90, 205);
    color: rgb(106, 90, 205);
    padding: 13px;
        text-align: center;
        transition: 700ms ease-in-out;
}
#intro1:hover{
    background-color: rgb(106, 90, 205);
    color:white;
    
}






#line1{
    
    border-left: 1px solid rgb(136, 127, 127);
    height: 34vh;
    display: block;
    margin-left: 134px;
    position: absolute;
    margin-top: 2vh;
    z-index: -1;
}

#line2{
    
    border-bottom: 1px solid gray;
    /* border-left: 1px solid rgb(136, 127, 127); */
    width: 12vh;
    display: block;
    margin-left: 16em;
    position: absolute;
    margin-top: -46px;

}

#scrolld{
    
    width: auto;
    height: 48px;
    margin-top: 150px;
    animation: mymove 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in;
   
    
}



@keyframes mymove {
    from { margin-top: 15px;}
    to { margin-top: 20px;}
}


.imgContainer{

    height: 320px;
   
}

.projectbox{

    margin-bottom: 51px;
    
}

.cartmarg{

   
    text-align: center;
}

#avtar{
    width: 222px;
    height: 222px;
    background-image: url(avtar.jpg);
    background-repeat: no-repeat;
    background-position: initial;
    background-size: 192px;
    background-color: yellow;
    padding-bottom: 30px;
}

.h2margin{
    
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: gray;
    background-color: yellow;
    padding: 6px;
    width: fit-content;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 5vh;
    
}

.input1{    
        font-weight: 100;
        margin-bottom: 8px;
        height: 25px;
        background-color: transparent;
        padding: .375rem .75rem;
        font-size: 1.2em;
        line-height: 1.5;
        color: #414bd6;
        background-color: #414bd617;
        background-image: none;
        border: transparent;
        letter-spacing: 1px;
        border-bottom: 1px solid darkgrey;
        outline: none;}
        .cartmarg {
            text-align: center;
            margin: auto;
        }
        .boxstyle:hover{
            background-color:  #ccc;;
        }
        
        

label{
    
    font-size: 1em;
    text-transform: uppercase;
    color: #ccc;

}

textarea::placeholder {
    
    color:#82808e;

  }

  textarea:focus {
    
    outline: none;
    border-bottom: 2px solid #414bd6;
  }


  #formwraper{

    display: flex;
    justify-content: center;

  }
  #maincontainer{
    display:flex; padding-right: 10px; padding-left: 10px; flex-direction: column;
  }

  .projestname{
    font-size: 16px;
    padding: 0px;
    text-decoration: none;}

    heigh{
        font-weight: bold;
    }

    @media screen and (max-width:599px){

         p.abtavtar {
            margin: auto;
            margin-top: 0em;
            padding-top: 40px;
            font-size: 19px;
            line-height: 29px;
            width: 70vw;
            text-align: center;
        }
        .cartmarg {
         
            margin-top: 2vh;
        }
        hr.secmarg {
           
            margin-top:5vh;
        }

    }

  @media screen and (min-width:600px){
      #firstContainer{
        position: fixed;
        width: -webkit-fill-available;
        display: flex;
        justify-content: safe;
        z-index: 3;
        padding: 8px 14vw 0px 15vw;
        background-color: #0202023b;   
      }
      .menue{
          font-size:23px;
      }

      header{
          margin-top:53vh;
        }
     
      
      #back{
        height: 100vh;
         width: 100vw; 
        
        background-image: url(back.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
      }
      #hlo{
        display: flex;
        flex-direction: column;
        width: fit-content;
      }
      .projectbox{
          width:400px;
      }

      

      #maincontainer{flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-around;}

      .imgContainer{ height: 300px;}
      .projectbox{width:335px;}
    

        img.logo {
            height: 90px;
        }

        .navigation {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .boxstyle{width: 300px; height: 30vh;}
       

        .aboutavtar.cartmarg {
            display: flex;
            flex-direction: row;
            
            align-items: center;
            width: 70vw;
            margin: auto;
            margin-top: 21vh;
        }
        hr.secmarg {
            width: 68vw;
            margin: auto;
            margin-top:5vh;
        }
        p.abtavtar {
            margin: auto;
            margin-top: 0em;
            padding-top: 74px;
            font-size: 19px;
            line-height: 29px;
            width: 43vw;
            text-align: left;
        }
        #skillcontainer{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: auto;
            margin-top: 20vh;
            width: 70vw;
        }
        .cartmarg {
            
            margin: auto;
        }
  }